:root {
  --bg-pri-color: #007ACC;
  --bg-sec-color: #005FA3;
  --bg-ter-color: #E5F6FF;

  --text-pri-color: #333333;
  --text-sec-color: #666666;
  --text-inac-color:#999999;
  
  --fondo-pagina:#FFFFFF;

  --border-color:#DDDDDD;
  
  --status-succes:#28A745;
  --status-warning: #FFC107;
  --status-error: #DC3545;

  --font-primary: "Roboto, sans-serif";
  --font-secondary: "Montserrat, sans-serif";

  --text-title: 24px;
  --weight-title:700;
  --text-secundary: 20px;
  --weight-tx-secundary:500;
  --text-regular: 16px;
  --weight-tx-regular:400;
  --small-text: 14px;
  --weight-tx-small:400;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-family: var(--font-primary);
  margin: 2em;
}
main{
  min-height: 100vh;
}